body {
  height: 500em;
  margin: 0;
  padding: 0;
}

.Back__ground {
  position: relative;
  width: 100%;
  height: 500em;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.Back__ground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("Imagenes/Back2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(15px);
  z-index: -1;
}

.Div__main {
  background-color: #f2573f;
  width: 70%;
  margin: 10em 0 10em 0;
  border: 1.5em solid #ffffff;
}

/* NAV */

Nav {
  display: grid;
  grid-template-rows: 1.5fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 2em;
  border: #e84931 solid 5px;
  border-radius: 10px;
}

Nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  font-size: 1.5em;
  color: #ffffff;
}

/* NAV MENU */

.Nav__menu {
  display: flex;
  justify-content: right;
}
.Nav__menu li {
  margin-left: 1em;
  font-size: 1.3em;
  font-weight: 700;
}

/* NAV SOCIAL */

.Nav__social {
  display: flex;
  justify-content: right;
}

.Nav__social li {
  margin-right: 1em;
  font-size: 1.5em;
  color: #ffffff;
}

.Nav__social li:hover {
  margin-right: 1em;
  font-size: 1.5em;
  border-radius: 50%;
  border: solid #fada28 3px;
  padding: 12px;
  transition: 0.1s;
  padding: 10px;
}

/* BUTTON NAV */
.Buttom__CV--header {
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
}

/* ABOUT ME */

.Div__Section__aboutme {
  margin-top: 10em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img__aboutme {
  background-image: url("/Imagenes/BackBob.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  padding: 10em 10em 25em 10em;
  box-shadow: #111111 0px 0px 10px;
  border-radius: 10px;
}

/* ABOUME INFO */
.Div__aboutme--info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 2em;
}

.Div__aboutme--info h5 {
  color: #f7d22a;
  letter-spacing: 0.5em;
  font-size: 1.5em;
  margin-top: 10em;
}

.Div__aboutme--info h1 {
  color: #ffffff;
  font-size: 7em;
  text-align: right;
  direction: rtl;
  margin-top: 0;
}
.Div__aboutme--text {
  display: grid;
  grid-template-columns: 1fr 2em;
  align-items: center;
  margin-right: 4em;
  gap: 1em;
}

.Div__aboutme--text i {
  color: #ffffff;
  font-size: 4em;
  border-radius: 50%;
  padding: 0.2em;
  border: #fada28 solid 3px;
}

.Div__aboutme--info p {
  color: #ffffff;
  font-size: 2em;
  text-align: right;
  direction: rtl;
  letter-spacing: 0.1em;
}

/* ABOUTME BUTTOM */

.Buttom__CV {
  margin-top: 4em;
  height: 6em;
  width: 40%;
}

/* EDUCATION SECTION  -------------------*/
.Div__education {
  display: grid;
  grid-template-columns: 35em 35em;
  grid-template-rows: 50em 50em;
  gap: 5em;
  margin-top: 50em;
  justify-content: center;
}

/* EDUCATION DEGREE */

.Bachelor {
  color: #f7d434;
  font-size: 1.3em;
  letter-spacing: 2px;
  margin: 0%;
  margin-left: 3.1em;
}

.universidad {
  margin: 0%;
  margin: 2em 0 0 5em;
  color: #ffffff;
  font-size: 0.8em;
}

/* CERTIFICATIONES CERTIPROF 1 -----------------*/

.Div__certifications--certiprof,
.Div__certifications--certiprof2,
.Div__certifications--oracle,
.Div__education--info {
  background-color: #e34934;
  border-radius: 10px;
  box-shadow: #111111 0px 0px 10px;
  transition: transform 0.5s ease-in-out;
}

.testing1,
.testing2,
.testing {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Div__certifications--certiprof h3,
.Div__certifications--certiprof2 h3,
.Div__certifications--oracle h3,
.Div__education--info h3 {
  color: #ffffff;
  font-size: 3em;
  font-weight: 900;
  margin: 0%;
  margin: 1em 0 0 1.3em;
}

.Div__certifications--certiprof h4,
.Div__certifications--certiprof2 h4,
.Div__certifications--oracle h4,
.Div__education--info h4 {
  color: #ffffff;
  font-size: 1.8em;
  margin: 0%;
  margin-left: 2em;
}

.certiprof,
.certiprof2,
.oracle {
  color: #f7d434;
  font-size: 1.7em;
  letter-spacing: 2px;
  margin: 0%;
  margin-left: 3.1em;
}

.i_link1,
.i_link2,
.i_link {
  display: flex;
  color: #ffffff;
  font-size: 3em;
  align-items: center;
  justify-content: end;
  margin: 0.5em 1em 0 0;
  transition: transform 0.5s ease-in-out;
}

.i_link1 i,
.i_link2 i,
.i_link i {
  border: rgba(221, 221, 221, 0.3) solid 3px;
  border-radius: 10px;
  padding: 0.2em;
}

.button__certiprof,
.button__certiprof2,
.button__oracle {
  border-radius: 10px;
  color: #e85035;
  background-color: #f7d031;
  font-weight: 900;
  border: solid 2px #f2573f;
  font-size: 1.3em;
  padding: 0.6em;
  transition: transform 0.5s ease-in-out;
}

.div__buttom--certiprof,
.div__buttom--certiprof2,
.div__buttom--oracle {
  margin-top: 2em;
  display: flex;
}

.div__buttom--certiprof div,
.div__buttom--certiprof2 div,
.div__buttom--oracle div {
  width: 50%;
  border: #f2573f solid 1px;
  height: 0.1px;
  margin-top: 2em;
}

/* IMG CERTIFICATIONS  ---------------------------- */

.img_certification--certiprof2,
.img_certification--certiprof,
.img_certification--oracle,
.img__education {
  background-image: url("/Imagenes/Certifprof.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 25em;
  width: 23em;
  border-radius: 10px;
  margin: 2em 0 2em 4em;
  border-radius: 10px;
  background-color: #dddddd;
  border: 0.7em solid #ffffff;
  box-shadow: #555555 0px 0px 10px;
}
.img_certification--certiprof {
  background-image: url("/Imagenes/Certifprof.png");
}

.img_certification--oracle {
  background-image: url("/Imagenes/Oracle-Cloud-Logo-768x432.png");
}
.img__education {
  background-image: url("/Imagenes/LogoUlacit-Morado.png");
}

/* HOVER CERTIFICATION AND EDUCATION */

.button__certiprof:hover,
.button__certiprof2:hover,
.button__oracle:hover,
.i_link1:hover,
.i_link2:hover,
.i_link:hover,
.Div__certifications--certiprof:hover,
.Div__certifications--certiprof2:hover,
.Div__certifications--oracle:hover,
.Div__education--info:hover {
  transform: scale(1.05);
}

.i_link1 i:hover,
.i_link2 i:hover,
.i_link i:hover {
  background-color: rgba(221, 221, 221, 0.3);
  transition: 0.5s;
}
.button__certiprof:hover,
.button__certiprof2:hover,
.button__oracle:hover {
  background-color: #d5b010;
  color: #c63013;
  transition: 0.5s;
}

/* ----------------------SECTION SKILLS----------------- */
.Div__skills {
  margin-top: 7em;
  display: grid;
  grid-template-rows: 10em 8em 1fr;
  justify-content: center;
}

.Div__skills h2 {
  text-align: center;
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 4em;
}

/* BUTTON SKILLS---------------------------------  */
.buttons__skills {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  width: 100%;
  transition: transform 1s ease-in-out;
}
.buttons__skills button {
  height: 4em;
  font-size: 1em;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #e84a35;
  color: #ffffff;
  border: none;
  transition: transform 1s ease-in-out, background-color 1s, color 1s;
  border: #de472c solid 4px;
}

/* PROGRAMMING LANGUAGES---------------- */
#programming_languages,
#tools_technologies,
#methodologies_systems {
  display: flex;
  flex-direction: column;
}

#programming_languages tr,
#tools_technologies tr,
#methodologies_systems tr {
  display: flex;
  flex-direction: row;
  border-left: none;
  border-right: none;
  font-size: 2em;
  transition: background-color 1s, opacity 1s;
  border-radius: 10px;
  padding-bottom: 2em;
}

#programming_languages td,
#tools_technologies td,
#methodologies_systems td {
  width: 100%;
  color: #ffffff;
  font-weight: 900;
  font-size: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  transition: color 1s;
  border-top: #de472c solid 3px;
  height: 100%;
}

.img__java,
.img__csharp,
.img__js,
.img__cmas,
.img__python,
.img__html,
.img__css,
.img__wordpress,
.img__bootstrap,
.img__sql,
.img__github,
.img__git,
.img__vscode,
.img__vsstudio,
.img__netbeans,
.img__scrum,
.img__jira,
.img__trello,
.img__windows,
.img__linux {
  width: 68px;
  height: 68px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 1.5em;
}

.img__csharp {
  background-image: url("Imagenes/c-sharp.png");
}

.img__java {
  background-image: url("Imagenes/java.png");
}

.img__js {
  background-image: url("Imagenes/js.png");
}
.img__cmas {
  background-image: url("Imagenes/c-.png");
}
.img__python {
  background-image: url("Imagenes/python.png");
}
.img__html {
  background-image: url("Imagenes/html.png");
}
.img__css {
  background-image: url("Imagenes/css-3.png");
}

.img__wordpress {
  background-image: url("Imagenes/wordpress.png");
}
.img__bootstrap {
  background-image: url("Imagenes/media.png");
}

.img__sql {
  background-image: url("Imagenes/sql-server.png");
}
.img__git {
  background-image: url("Imagenes/social.png");
}

.img__github {
  background-image: url("Imagenes/github.png");
}

.img__vscode {
  background-image: url("Imagenes/vscode.png");
}

.img__vsstudio {
  background-image: url("Imagenes/visual-studio.png");
}
.img__netbeans {
  background-image: url("Imagenes/java2.png");
}
.img__scrum {
  background-image: url("Imagenes/scrum.png");
  background-color: #ffffff;
}
/* CAROUSEL */
.img__jira {
  background-image: url("Imagenes/jira.png");
}
.img__trello {
  background-image: url("Imagenes/trello.png");
}
.img__windows {
  background-image: url("Imagenes/windows.png");
}
.img__linux {
  background-image: url("Imagenes/linux.png");
}

/* HOVER SKILLS */

/* ...existing code... */

#programming_languages tr:hover,
#tools_technologies tr:hover,
#methodologies_systems tr:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

#programming_languages tr:hover td,
#tools_technologies tr:hover td,
#methodologies_systems tr:hover td {
  transition: 1s;
  color: #e3573b;
  opacity: 1;
}

/* HOVER BUTTON SKILLS------------- */
.buttons__skills button:hover,
.buttons__skills button:active {
  background-color: #ffffff;
  color: #e3573b;
}

/* ...existing code... */

/* CAROUSEL---------------- */
.carousel-inner {
}
.carousel {
  width: 60em;
  margin: 0 auto;
}

.carousel-item {
  padding: 0;
  margin: 0;
}
