body {
  min-width: 55em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 3fr 1fr 1fr;
}

/* BACKGROUND */

.Back__ground {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("Imagenes/FondoBobMarley.png") no-repeat, center;
  background-size: cover;
}

.Back__ground--Blur {
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(3rem);
}
/* ----------------NAV-------------- */
nav {
  margin: 2em 10em 0 0;
}
ul {
  display: flex;
  gap: 3em;
  width: 100%;
  justify-content: center;
  margin: 0 0 0 10em;
}
li {
  list-style: none;
  font-size: 1.4em;
}

a {
  text-decoration: none;
  color: black;
}

/* ------------------MAIN-------------- */

main {
  display: flex;
  align-items: center;
  margin-left: 10em;
}
/* ----------------ABOUT ME--------------------- */

.About__me {
  font-size: 3em;
}

h1 {
  margin-right: 2em;
  margin-top: 0.2em;
}
h5 {
  margin-bottom: 0;
}

/* ----------------FOOTER-------------- */
footer {
  margin-top: auto;
  text-align: center;
}
